
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(assets/fonts/OpenSans-Bold.ttf)
}


.upload-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid black 2px;
    padding: 10px;
}
.upload-image img{
    margin: 5%;
    width: 20%;
    height: 20%;
}

.homeContainer {
    margin:10px
}

.postContainer {
    border-width: 10px;
    border-color: black;
}

.postTitle {
    color:black;
    text-align: left;
    font-size: 40px;
    margin: auto;
    font-family: 'OpenSans-Bold';
    margin-left: -3px;
}

.categoryPost { 
    text-align: left;
    margin: auto;
    margin-bottom: -5px;
}

.postDate    {
    text-align: left;
    margin: auto;
    font-size: 10px;
}


.postVotes {
    margin-top: 30px;
}



.numberVote{
    font-family: "OpenSans-Bold";
    margin-top:6px;
    font-size: 20px;
}

.countComentContainer {
    margin-left: 50px;
}

.countComents{
    margin-left: 10px;
}

h1,
h2,
p  {
    font-family: 'OpenSans-Regular';
}


.recommended{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 3px grey;
    padding: 10px;
    margin: 5px;
    color: #333333;
}
.recommended-description{
    text-align: left;
    padding-left: 10px;
}
.recommended-description p{
    margin: 0;
    padding: 1px;
}
.recommended-description .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header .title{
    font-weight: bold;
    font-size: 1.2rem;
    flex-grow: 3;
}
.header .likes{
    color: green;
    font-weight: bold;
    margin-left: 20px;
    flex-grow: 1;
}
.recommended-description .category{
    font-size: 0.9rem;
    color: #3a3a3a;
}
.recommended-description .author{
    color: #555555;
    font-size: 0.8rem;
    padding-left: 5px;
}
.thumbnail{
    width: 8vw;
    height: 8vw;
}
